html, body {
    height: 100%;
}
body {
    min-height: 100%;
}

h1, h2, h3, h4, h5 { font-family: Impact, Charcoal, sans-serif; }

a { color: orange; }

.cs-footer {
    position: absolute;
    left: 5px;
    font-size: 0.2em;
}

.cs-container {
    width: 100%;
    height: 100%;
}

.cs-header, .cs-content-inner {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.cs-header .cs-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.cs-logo {
    z-index: -1;
} 

/** Navigation **/
.cs-navigation {
    text-align: center;
}

.cs-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 50px 0;
}

.cs-navigation li {
    display: inline;
}

.cs-navigation li a {
    z-index: 1;
    color: #000;
    text-decoration: none;
    line-height: 40px;
    padding: 0 5px;
}

.cs-navigation li a:hover {
    color: #555;
}

/** Typography **/
.cs-text-big {
    font-size: 1.2em;
}

.cs-text-huge {
    font-size: 1.6em;
}

/** Grid **/
.cs-content {
    z-index: 0; 
    width: 100%;
    height: 100%;
    transition-delay: 2s;
}

.cs-content-bg { transition: background-color 2s ease; }

.cs-content-bg-image { 
    background-image: url("../img/white-pixel.png");
    transition: background-image 1s ease-in;
}

.cs-content#home .cs-section {
    padding-top: 8em;
}

.cs-content#projects:target {
    background: #448ccb;
}

.cs-content#contact:target {
    background-image: url("../img/humla.jpg");
}

/*#projects cs-nav-btn - Todo: change color of btn when blue bg */

.cs-section {
  width: 100%;
  margin-top: 10px;
  float: left;
  box-sizing: border-box; 
  overflow: hidden;
}

.cs-section img { width: 100%;}

.cs-section h1, 
.cs-section h2,
.cs-section h3,
.cs-section h4,
.cs-section h5 {
    margin: 0;
    padding: 10px 0 8px 0;
    letter-spacing: 1px;
}

.cs-section p,
.cs-section a {
    margin: 0;
    padding: 0 10px;
}

.cs-section p {margin-bottom: 14px;}

.cs-width-1of2 { width: 50%;}
.cs-width-1of3 { width: 33.3%;}

/** Themes **/
.cs-bg-blue { background: #448ccb; }
.cs-bg-green { background: greenyellow; }
.cs-bg-orange { background: orange; }

.cs-color-blue { color: #448ccb; }
.cs-color-green { color: greenyellow; }
.cs-color-orange { color: orange; }
.cs-color-white { color: #fff; }

.cs-bg-airbrush {background: url("../img/airbrush.jpg") no-repeat 0px 60%;}

/** Scroll **/
.cs-nav-btn {
    position: fixed;
    display: block;
    left: 0; 
    right: 0; 
    bottom: 10px;
    margin-left: auto; 
    margin-right: auto;     
    width: 60px;
    height: 60px;
    background: #dcdcdc;
    border-radius: 30px;
    font-size: 25px;
    transition: background-color 0.5s ease;
}

.cs-nav-btn:hover {
    cursor: pointer;
    background: #555;
}

.cs-nav-btn::before {
    position: absolute;
    margin: auto;
    top: -18px; left: 0; bottom: 0; right: 0;    
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(135deg);
}

.cs-nav-btn::after {
    position: absolute;
    margin: auto;
    top: 10px; left: 0; bottom: 0; right: 0;    
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(135deg);
}

/** Mobile **/
    /*-webkit-text-fill-color: #000; /* Will override color (regardless of order) 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;*/