@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");
.selected {
  position: relative;

  &::before {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #fdf5e2;
    bottom: -15px;
    width: 8px;
    height: 8px;
    content: "";
    left: 50%;
  }
}

html {
  scroll-behavior: smooth;
}
